In [1]:
import numpy as np
import pandas as pd
import os
import pymongo

In [6]:
drought_data_df = pd.read_csv("data/drought_data.csv",low_memory=False)
drought_data_df.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20151229,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-29,2016-01-04,1
1,20151222,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-22,2015-12-28,1
2,20151215,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-15,2015-12-21,1
3,20151208,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-08,2015-12-14,1
4,20151201,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-01,2015-12-07,1

In [7]:
client = pymongo.MongoClient()

In [8]:
## Build DataBase
db = client.Project_2_db
drought = db.drought

In [9]:
drought.insert_many(drought_data_df.to_dict('records'))