In [1]:
import numpy as np
import pandas as pd
import os
import pymongo

In [2]:
drought_data_df = pd.read_csv("data/drought_data.csv",low_memory=False)
drought_data_df.head()

,MapDate,FIPS,County,State,None,D0,D1,D2,D3,D4,ValidStart,ValidEnd,StatisticFormatID
0,20151229,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-29,2016-01-04,1
1,20151222,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-22,2015-12-28,1
2,20151215,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-15,2015-12-21,1
3,20151208,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-08,2015-12-14,1
4,20151201,2013,Aleutians East Borough,AK,"7,023.35",0.00,0.00,0.00,0.00,0.00,2015-12-01,2015-12-07,1

In [7]:
client = pymongo.MongoClient()

In [8]:
## Build DataBase
db = client.Project_2_db
drought = db.drought

In [9]:
drought.insert_many(drought_data_df.to_dict('records'))

In [3]:
npy_file = os.path.join("data","Fire_Data.npy")

In [4]:
pickle = np.load(npy_file, allow_pickle=True)

In [5]:
fires_df = pd.DataFrame(pickle, columns=['FPA_ID','FIRE_NAME','FIRE_YEAR','DISCOVERY_DOY','DISCOVERY_TIME','CONT_DOY','CONT_TIME','FIRE_SIZE','FIRE_SIZE_CLASS','LATITUDE','LONGITUDE','STATE','COUNTY','FIPS_CODE','FIPS_NAME','STAT_CAUSE_DESCR','OWNER_CODE','OWNER_DESCR','DAYS_TO_CONT'])

In [6]:
fires_df.head()

,FPA_ID,FIRE_NAME,FIRE_YEAR,DISCOVERY_DOY,DISCOVERY_TIME,CONT_DOY,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,STATE,COUNTY,FIPS_CODE,FIPS_NAME,STAT_CAUSE_DESCR,OWNER_CODE,OWNER_DESCR,DAYS_TO_CONT
0,FS-1418826,FOUNTAIN,2005,33,1300,33,1730,0.1,A,40.0369,-121.006,CA,63,063,Plumas,Miscellaneous,5,USFS,0
1,FS-1418827,PIGEON,2004,133,0845,133,1530,0.25,A,38.9331,-120.404,CA,61,061,Placer,Lightning,5,USFS,0
2,FS-1418835,SLACK,2004,152,1921,152,2024,0.1,A,38.9842,-120.736,CA,17,017,El Dorado,Debris Burning,13,STATE OR PRIVATE,0
3,FS-1418845,DEER,2004,180,1600,185,1400,0.1,A,38.5592,-119.913,CA,3,003,Alpine,Lightning,5,USFS,5
4,FS-1418847,STEVENOT,2004,180,1600,185,1200,0.1,A,38.5592,-119.933,CA,3,003,Alpine,Lightning,5,USFS,5

In [11]:
fires_df.rename(columns={'FIPS_NAME': 'county_name'}, inplace=True)
drought_data_df.rename(columns={'County': 'county_name'}, inplace=True)

In [12]:
fire_drought_df = pd.merge(fires_df, drought_data_df[["FIPS", "county_name", "State", "None", "D0", "D1", "D2", "D3",                                                           "D4","ValidStart", "ValidEnd"]], on="county_name")

In [15]:
list(fire_drought_df.columns)

['FPA_ID',
 'FIRE_NAME',
 'FIRE_YEAR',
 'DISCOVERY_DOY',
 'DISCOVERY_TIME',
 'CONT_DOY',
 'CONT_TIME',
 'FIRE_SIZE',
 'FIRE_SIZE_CLASS',
 'LATITUDE',
 'LONGITUDE',
 'STATE',
 'COUNTY',
 'FIPS_CODE',
 'county_name',
 'STAT_CAUSE_DESCR',
 'OWNER_CODE',
 'OWNER_DESCR',
 'DAYS_TO_CONT',
 'FIPS',
 'State',
 'None',
 'D0',
 'D1',
 'D2',
 'D3',
 'D4',
 'ValidStart',
 'ValidEnd']